@import url(../style.css);

body {
    background-image: url(../assets/mountains-universe-1.png);
    transition: background-image 500ms ease;
}

nav a:nth-child(2) {
    font-weight: 700;
    font-size: 2.4rem;

    color: var(--fc-secondary);
    border-bottom: 1px solid var(--fc-secondary);
}

.content {
    margin: 0 auto;
    margin-top: 17.2rem;

    align-items: center;
    gap: 2.4rem;
    
    animation: topdown 700ms 350ms backwards;
}